@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245, 245, 245;
  --foreground-rgb: 23, 23, 23;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 34, 34, 34;
    --foreground-rgb: 245, 245, 245;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
